@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0779e4;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

ol::-webkit-scrollbar {
  width: 8px;
}
 
ol::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px hsla(209, 94%, 46%, 0.164);
}
 
ol::-webkit-scrollbar-thumb {
  background-color: #065eb1c4;
  outline: 1px solid rgba(0, 0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

ol.items {
  max-height: 80vh;
  overflow-y: scroll;
  padding: 10px
}

.item-row {
  padding: 30px;
  background-color: #0779e4;
  margin-bottom: 20px;
  border-radius: 8px;
}

.item-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
}
.item-info {
  display: flex;
  gap: .5rem;
  margin-top: 5px;
}
.item-image {
  position: relative;
  width: 20%;
  max-width: 20%;
}
.item-image img{
  max-width: 100%;
}
.item-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.item-description {
  color: rgba(255, 255, 255, 0.781);
  margin-top: 0;
}
.item-about {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.item-about:hover {
  background-color: rgba(255, 255, 255, 0.863);
}

@media screen and (max-width: 767px) {
  .item-info {
    flex-direction: column;
    gap: 0;
  }
  .item-image {
    width: 100%;
  }
}